*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Setting generale*/

.col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc((100%/12)*2);
}
.col-3{
    width: calc((100%/12)*3);
}
.col-4{
    width: calc((100%/12)*4);
}
.col-5{
    width: calc((100%/12)*5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc((100%/12)*7);
}
.col-8{
    width: calc((100%/12)*8);
}
.col-9{
    width: calc((100%/12)*9);
}
.col-10{
    width: calc((100%/12)*10);
}
.col-11{
    width: calc((100%/12)*11);
}
.col-12{
    width: 100%;
}

/*Colonne in dodicesimi*/

:root{
    --bg-button-white: #ffffff;
    --bg-button-darkgrey: #23272a;
    --button-text-lightblack: #3e4244;
    --bg-nav: #255ee9;
    --bg-sectionsmain-lightgrey: #f6f6f6;
}

/*root*/


/*body*/

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;  
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.jcontent-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.m-btn{
    margin: 1.5rem 0.5rem;
}

.m-wave{
    margin-bottom: -4px;
}

.helvetica{
    font-family: Arial, Helvetica, sans-serif;
}

.size-12px{
    font-size: 12px;
}

.size-16px{
    font-size: 16px;
}

.size-24px{
    font-size: 24px;
}

.size-45px{
    font-size: 45px;
}

.weight-600{
    font-weight: 600;
}

.line-hg{
    line-height: 1.5rem;
}

.text-center{
    text-align: center;
}
.color-white {
    color: var(--bg-button-white);
}
.color-black {
    color: var(--button-text-lightblack);
}
.color-lightgrey {
    color: var(--bg-sectionsmain-lightgrey)
}
.bg-color-lightgrey {
    background-color: var(--bg-sectionsmain-lightgrey);
}
.btn-login{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.btn-positive{
    background-color: var(--bg-button-white);
    border-color: var(--bg-button-white);
    color: var(--button-text-lightblack);
}
.btn-negative{
    background-color: var(--bg-button-darkgrey);
    border-color: var(--bg-button-darkgrey);
    color: var(--bg-button-white);
}
#open-discord{
    padding: 0.6rem 0.8rem;
}

button {
    border-style: solid;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
}


/*Utility*/

header {
    background-color: var(--bg-nav);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.menu {
    align-self: center;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;  
}

.jumbotron{
    background-image: url('/img/jumbo.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbo-content {
    margin: 0 17rem;
    padding-bottom: 10rem;
    text-align: center;
    
}

/* debug Header e jumbotron*/

.section-main{
    padding: 6rem 0;
}

.decor {
    transform: rotate(180deg);
}

#mask0 {
    border-radius: 10rem;
}
.talking {
    
    /*background-color: rgb(249, 242, 233);*/
}

.bg_color_beta_main {
    
    /*background-color: rgb(195, 195, 192);*/
}

.img-section {
    /*background-color: rgb(88, 241, 74);
    height: 390px;
    border: 3px dashed black;*/
}

.text-section {

    /*background-color: rgb(120, 67, 170);
    height: 390px;
    border: 3px dashed black;*/
}

.img-final-section {
    /*background-color: rgb(153, 107, 9);
    height: 600px;
    border: 3px dashed black;*/
}

/*Main*/

.site_footer{
    background-color: goldenrod;
}

.site_footer .top-footer ul{
    display: flex;
    list-style: none;
    margin: 0.5em 0;
    width: 1152px;
    border: 3px dashed black;
}

.site_footer .top-footer ul li{
    height: 500px;
}

.socials {
    border: 3px dashed black;
    background-color: cornflowerblue;
}

.info {
    border: 3px dashed white;
    background-color: rgb(0, 167, 42);
}

.end-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    border: 2px dashed black;
    padding: 1rem 0;
    width: 1152px;
    margin-top: 1rem;
}

.logo-end {
    padding: 1rem;
    background-color: rgb(117, 57, 33);
    border: 1px dashed black;
}

.button {
    padding: 1rem;
    background-color: rgb(117, 57, 33);
    border: 1px dashed black;
}

/* Footer */

